# ---> Java
.classpath
bin/
.project
.settings/
logs/
.gradle/
*.gradle/
build/
dest/
out/
*.iml
*.ipr
*.iws
*.ids
.DS_Store
work/
.vagrant/
*.idea/
thriftproto
*.pyc
rebel.xml
rebel-remote.xml/show-service/
classes
*.class
MANIFEST.MF
*.csv
*.jar
*.idea/*
*.log*.log*.log*.log*.log*.log*.log*.log
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

qrcode.jpg
shiduoduo.jpeg
