<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suven.framework.sys.mapper.SysDictMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suven.framework.sys.entity.SysDict" id="sysDictMap">
        <result property="id" column="id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictCode" column="dict_code"/>
        <result property="description" column="description"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="type" column="type"/>
    </resultMap>


    <!-- 批量插入,并返回指定主键字段值; -->
    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            sys_dict ( dict_name, dict_code, description, del_flag, create_by, create_time, update_by, update_time, type )
        VALUES
        <foreach collection="list" item="sysDict" index="index" separator=",">
            (  #{sysDict.dictName},  #{sysDict.dictCode},  #{sysDict.description},  #{sysDict.delFlag},  #{sysDict.createBy},  #{sysDict.createTime},  #{sysDict.updateBy},  #{sysDict.updateTime},  #{sysDict.type} )
        </foreach>
    </insert>


</mapper>