<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suven.framework.sys.mapper.SysPermissionMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suven.framework.sys.entity.SysPermission" id="sysPermissionMap">
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="status" column="status"/>
        <result property="sort" column="sort"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="component" column="component"/>
        <result property="componentName" column="component_name"/>
        <result property="redirect" column="redirect"/>
        <result property="menuType" column="menu_type"/>
        <result property="perms" column="perms"/>
        <result property="permsType" column="perms_type"/>
        <result property="alwaysShow" column="always_show"/>
        <result property="icon" column="icon"/>
        <result property="isRoute" column="is_route"/>
        <result property="isLeaf" column="is_leaf"/>
        <result property="keepAlive" column="keep_alive"/>
        <result property="hidden" column="hidden"/>
        <result property="description" column="description"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ruleFlag" column="rule_flag"/>
    </resultMap>

    <!-- 获取登录用户拥有的权限 -->
    <select id="queryByUserId" parameterType="Long"  resultMap="sysPermissionMap">
        SELECT p.*
        FROM  sys_permission p
        WHERE exists(
        select a.id from sys_role_permission a
        join sys_role b on a.role_id = b.id
        join sys_user_role c on c.role_id = b.id
        where p.id = a.permission_id AND c.user_id = #{userId}
        )
        and p.del_flag = 0
        order by p.sort ASC
    </select>



</mapper>