<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suven.framework.sys.mapper.SysPermissionDataRuleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suven.framework.sys.entity.SysPermissionDataRule" id="sysPermissionDataRuleMap">
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="status" column="status"/>
        <result property="sort" column="sort"/>
        <result property="permissionId" column="permission_id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="ruleColumn" column="rule_column"/>
        <result property="ruleConditions" column="rule_conditions"/>
        <result property="ruleValue" column="rule_value"/>
    </resultMap>


</mapper>