<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suven.framework.sys.mapper.SysRolePermissionMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suven.framework.sys.entity.SysRolePermission" id="sysRolePermissionMap">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="permissionId" column="permission_id"/>
        <result property="dataRuleIds" column="data_rule_ids"/>
        <result property="operateIp" column="operate_ip"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 批量插入,并返回指定主键字段值; -->
    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            sys_role_permission ( role_id, permission_id, data_rule_ids, operate_ip, create_by, create_time, update_by, update_time )
        VALUES
        <foreach collection="list" item="sysRolePermission" index="index" separator=",">
            (  #{sysRolePermission.roleId},  #{sysRolePermission.permissionId},  #{sysRolePermission.dataRuleIds},  #{sysRolePermission.operateIp},  #{sysRolePermission.createBy},  #{sysRolePermission.createTime},  #{sysRolePermission.updateBy},  #{sysRolePermission.updateTime} )
        </foreach>
    </insert>


</mapper>