<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suven.framework.sys.mapper.SysUserRoleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suven.framework.sys.entity.SysUserRole" id="sysUserRoleMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 批量插入,并返回指定主键字段值; -->
    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            sys_user_role ( user_id, role_id, create_time, update_time )
        VALUES
        <foreach collection="list" item="sysUserRole" index="index" separator=",">
            (  #{sysUserRole.userId},  #{sysUserRole.roleId},  #{sysUserRole.createTime},  #{sysUserRole.updateTime} )
        </foreach>
    </insert>


</mapper>