-- 菜单SQL
INSERT INTO `sys_permission` (`parent_id`, `name`, `url`,`component`,`perms`, `menu_type`, `icon`)
    VALUES ('1', '${description}', '${moduleName}/${pathName}','/${moduleName}/${className}List' , NULL, '1', 'config');

-- 按钮父菜单ID
set @parentId = @@identity;

-- 菜单对应按钮SQL
    INSERT INTO `sys_permission` (`parent_id`, `name`, `url`, `perms`, `menu_type`, `icon`, `is_leaf`)
    SELECT @parentId, '查看', null, '${moduleName}:${pathName}:list', '2', null,  '1';
    INSERT INTO `sys_permission` (`parent_id`, `name`, `url`, `perms`, `menu_type`, `icon`,  `is_leaf`)
    SELECT @parentId, '新增', null, '${moduleName}:${pathName}:save', '2', null,  '1';
    INSERT INTO `sys_permission` (`parent_id`, `name`, `url`, `perms`, `menu_type`, `icon`,  `is_leaf`)
    SELECT @parentId, '修改', null, '${moduleName}:${pathName}:update', '2', null,  '1';
    INSERT INTO `sys_permission` (`parent_id`, `name`, `url`, `perms`, `menu_type`, `icon`,  `is_leaf`)
    SELECT @parentId, '删除', null, '${moduleName}:${pathName}:delete', '2', null , '1';
