<template>
  <a-drawer
      :title="title"
      :maskClosable="true"
      :width="drawerWidth"
      placement="right"
      :closable="true"
      @close="handleCancel"
      :visible="visible"
      style="height: 100%;overflow: auto;padding-bottom: 53px;">

    <template slot="title">
      <div style="width: 100%;">
        <span>{{ title }}</span>
        <span style="display:inline-block;width:calc(100% - 51px);padding-right:10px;text-align: right">
          <a-button @click="toggleScreen" icon="appstore" style="height:20px;width:20px;border:0px"></a-button>
        </span>
      </div>

    </template>
    <a-spin :spinning="confirmLoading">
      <a-form-model ref="form" :model="model" :rules="validatorRules">


          ##<#list columns as po><#rt/>
#foreach($po in $showList)
#if ($po.attrname !='id')
    <a-form-model-item label="$po.comments" :labelCol="labelCol" :wrapperCol="wrapperCol" prop="${po.attrname}">
#if  ($po.showType =='2')
                        ##          <a-date-picker showTime format='YYYY-MM-DD HH:mm:ss' v-model="${po.attrname}', #if ($po.regex !='')validatorRules.${po.attrname} #else{}#end]" />
    <a-date-picker showTime format='YYYY-MM-DD HH:mm:ss' v-model="model.${po.attrname}"/>
                        ##下拉框 3
#elseif ($po.showType =='3')
  <a-select placeholder="请选择$po.comments" :getPopupContainer="(target) => target.parentNode">
    <a-select-option value="">请选择</a-select-option>
    <a-select-option value="1">有效</a-select-option>
    <a-select-option value="0">无效</a-select-option>
  </a-select>

                        ##单选框 4
#elseif ($po.showType =='4')
  <a-radio-group v-model="model.$po.attrname" @change="identityChange">
    <a-radio class="radioGroup" value="1">有效</a-radio>
    <a-radio class="radioGroup" value="0">无效</a-radio>
  </a-radio-group>
                        ##多选框 5
                        ##          #elseif ($po.showType =='5')
                        ##            <a-select
                        ##                    mode="multiple"
                        ##                    style="width: 100%"
                        ##                    placeholder="请选择$po.comments"
                        ##                    optionFilterProp = "children"
                        ##                    v-model="selectedRole">
                        ##              <a-select-option v-for="($po.attrname) in roleList" :key="po.toString()" :value="po.id">
                        ##                {{ role.roleName }}
                        ##              </a-select-option>
                        ##            </a-select>

                        ##多文本 6
#elseif ($po.showType =='6')
  <a-textarea :rows="5" placeholder="请输入$po.comments" v-model="model.$po.attrname"/>

                        ##文件 7
#elseif ($po.showType =='7')
  <a-upload name="file" :showUploadList="false" :multiple="false" :headers="tokenHeader" :action="customFileUploadRequest" @change="handleChangeFileUpload">
    <a-button type="upload" icon="upload">点击上传</a-button>
  </a-upload>

  ##树型 8
#elseif ($po.showType =='8')

  ##图片 9
#elseif ($po.showType =='9')
  <div class="clearfix">
    <a-upload name="file" :multiple="false" listType="picture-card" :fileList="fileList" @preview="handlePreview" :beforeUpload="beforeUpload"
            @change="handleChangeImageUpload"
            :customRequest="customImageUploadRequest">
  <div v-if="fileList.length < 3">
  <a-icon type="plus"/>
  <div class="ant-upload-text">上传</div>
  </div>
  </a-upload>
  <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
    <img alt="example" style="width: 100%" :src="previewImage"/>
    </a-modal>
  </div>

#else
  <a-input placeholder="请输入$po.comments" v-model="model.${po.attrname}"/>
  ##          <a-input placeholder="请输入$po.comments" v-decorator="['$po.attrname',
  ##                   #if ($po.regex !='')validatorRules.${po.attrname} #else{}#end]" />
#end
  </a-form-model-item>
#end
#end
          ##</#list>
</a-form-model>
</a-spin>

    <div class="drawer-bootom-button" v-show="!disableSubmit">
      <a-popconfirm title="确定放弃编辑？" @confirm="handleCancel" okText="确定" cancelText="取消">
        <a-button style="margin-right: .8rem">取消</a-button>
      </a-popconfirm>
      <a-button @click="handleSubmit" type="primary" :loading="confirmLoading">提交</a-button>
    </div>
  </a-drawer>
</template>


<script>
  import moment from 'moment'
  import Vue from 'vue'
  import {ACCESS_TOKEN} from "@/store/mutation-types"
  import {getAction, postAction} from '@/api/manage'
  import {disabledAuthFilter} from "@/utils/authFilter"
  import {duplicateCheck} from '@/api/api'

  export default {
    name: "${className}Modal",
    components: {},
    data() {
      return {
        // departDisabled: false, //是否是我的部门调用该页面
        roleDisabled: false, //是否是角色维护调用该页面
        modalWidth: 800,
        drawerWidth: 700,
        modaltoggleFlag: true,
        confirmDirty: false,
        userId: "", //保存用户id
        disableSubmit: false,
        dateFormat: "YYYY-MM-DD",
        validatorRules: {},
        departIdShow: false,
        title: "操作",
        visible: false,
        model: {},
        labelCol: {
          xs: {span: 24},
          sm: {span: 5},
        },
        wrapperCol: {
          xs: {span: 24},
          sm: {span: 16},
        },
        uploadLoading: false,
        confirmLoading: false,
        headers: {},
        url: {
          fileUpload: window._CONFIG['imgDomainURL'] + "/api/upload/ossFile",
          add: "/${moduleName}/${pathName}/add",
          edit: "/${moduleName}/${pathName}/modify",
          importExcelUrl: "/${moduleName}/${pathName}/import",
          // fileUploadImg: "/api/upload/ossFile",
        },
        // tenantsOptions: [],
        rolesOptions: [],
        nextDepartOptions: [],
      }
    },
    computed: {
      uploadAction: function () {
        return this.url.fileUpload;
      }
    },
    created() {

    },
    methods: {
      add() {
        this.refresh();
        this.edit({});
      },
      edit(record) {
        this.visible = true;
        //根据屏幕宽度自适应抽屉宽度
        this.resetScreenSize();

        this.userId = record.id;
        this.model = Object.assign({}, record);

        console.log('this.model=', this.model)
      },
      isDisabledAuth(code) {
        return disabledAuthFilter(code);
      },
      //窗口最大化切换
      toggleScreen() {
        if (this.modaltoggleFlag) {
          this.modalWidth = window.innerWidth;
        } else {
          this.modalWidth = 800;
        }
        this.modaltoggleFlag = !this.modaltoggleFlag;
      },
      // 根据屏幕变化,设置抽屉尺寸
      resetScreenSize() {
        let screenWidth = document.body.clientWidth;
        if (screenWidth < 500) {
          this.drawerWidth = screenWidth;
        } else {
          this.drawerWidth = 700;
        }
      },

      refresh() {
        this.userId = ""
        this.nextDepartOptions = [];
        this.departIdShow = false;
      },
      close() {
        this.$emit('close');
        this.visible = false;
        this.disableSubmit = false;
        this.nextDepartOptions = [];
        this.departIdShow = false;
        this.$refs.form.resetFields();
      },
      // 触发表单验证
      handleSubmit() {
              ${handleSubmit}
      },
      handleCancel() {
        this.close()
      },


      handleConfirmBlur(e) {
        const value = e.target.value;
        this.confirmDirty = this.confirmDirty || !!value
      },
      beforeUpload: function (file) {
        var fileType = file.type;
        if (fileType.indexOf('image') < 0) {
          this.$message.warning('请上传图片');
          return false;
        }
        //TODO 验证文件大小
      },

    }
  }
</script>

<style scoped>
  .avatar-uploader > .ant-upload {
    width: 104px;
    height: 104px;
  }

  .ant-upload-select-picture-card i {
    font-size: 49px;
    color: #999;
  }

  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }

  .ant-table-tbody .ant-table-row td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .drawer-bootom-button {
    position: absolute;
    bottom: -8px;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 2px 2px;
  }
</style>