package ${packageName}.${moduleName}.vo.response;


import java.io.Serializable;
import java.util.Date;

import ${mainPath}.common.data.${baseEntity};
import ${mainPath}.common.data.BaseBeanClone;
import ${mainPath}.common.api.ApiDesc;
import com.alibaba.excel.annotation.ExcelProperty;


/**
 * @ClassName: ${className}ShowResponseVo.java
 *
 * @Author 作者 : ${author}
 * @CreateDate 创建时间: ${datetime}
 * @Version 版本: v1.0.0
 * <pre>
 *
 *  @Description: ${description} http业务接口交互数据返回参数实现类
 *
 * </pre>
 * <pre>
 * 修改记录
 *    修改后版本:     修改人：  修改日期:     修改内容:
 * ----------------------------------------------------------------------------
 *
 * ----------------------------------------------------------------------------
 * </pre>
 * @Copyright: (c) 2021 gc by https://www.suven.top
 **/


public class ${className}ShowResponseVo extends BaseBeanClone  implements Serializable {

   /** id 对应的业务表的主键id  */
    @ApiDesc(value = "对应的业务表的主键id ")
    private long id;

#foreach ($column in $showList)
#if( $column.fieldAttrName )
$column.explainAttrName
$column.docAttrName
$column.fieldAttrName
#end
#end

    public static ${className}ShowResponseVo build(){
        return new ${className}ShowResponseVo();
    }
#foreach ($column in $showList)
#if( $column.fieldAttrName )
$column.setAttrName
$column.getAttrName
$column.buildResponseShowVoName
#end
#end

    public long getId() {
        return id;
    }

    public void setId(long id) {
        this.id = id;
    }





}
