package ${packageName}.${moduleName}.entity;

import ${mainPath}.common.data.${baseEntity};
import ${mainPath}.common.api.ApiDesc;
import ${mainPath}.core.db.ext.DS;

import java.math.*;
import java.util.Date;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
  * @ClassName: ${className}.java
  *
  * @Author 作者 : ${author}
  * @email 邮箱 : ${email}
  * @CreateDate 创建时间: ${datetime}
  * @Version 版本: v1.0.0
  * <pre>
  *
  *  @Description: ${description} 数据库表对应的实现类
  *
  * </pre>
  * <pre>
  * 修改记录
  *    修改后版本:     修改人：  修改日期:     修改内容:
  * ----------------------------------------------------------------------------
  *
  * ----------------------------------------------------------------------------
  * </pre>
  * @Copyright: (c) 2021 gc by https://www.suven.top
  **/
@Data
@AllArgsConstructor
@NoArgsConstructor

@DS(DataSourceModuleName.module_name_${moduleName})
public class ${className} extends ${baseEntity}{

private static final long serialVersionUID = 1L;

  public interface DataSourceModuleName{
          public static final String module_name_${moduleName} = "${moduleName}";
  }

#foreach ($column in $columns)
#if( $column.fieldAttrName )
$column.docAttrName
$column.fieldAttrName
#end

#end

    public static ${className} build(){
        return new ${className}();
    }

#foreach ($column in $columns)
#if( $column.fieldAttrName )
$column.buildAttrName
#end
#end
}